attrs==20.2.0
certifi==2020.12.5
importlib-metadata==2.0.0
iniconfig==1.1.1
marshmallow==3.7.1
marshmallow-oneofschema==2.0.1
more-itertools==8.5.0
olefile==0.46
packaging==20.4
Pillow==8.1.2
pip==20.2.2
pluggy==0.13.1
py==1.9.0
pyclean==2.0.0
pyparsing==2.4.7
pytest==0.0.0
setuptools==49.6.0.post20200814
six==1.15.0
toml==0.10.1
wheel==0.34.2
zipp==3.4.0
